body{

    background-color: #f5f5dc;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#topo{
    color: brown;
    background-color: #f5f5dc;
    position: fixed;
    margin: -20px;
    padding: -20px;
    box-shadow: 2px 2px 2px gray;
    width: 110%;
    height: 80px;
}

ul {
   
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a:hover{

    color: black; 
}

a{
    color: brown;
    text-decoration: none;   
} 
   
nav {
   
    display: flex;
    justify-content: space-around;
}

li{
    margin: 0 20px; 
    color: black;
    border: 0ch;
    border-radius: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-table;
 
}

.dropdown-child {
    display: none;
    background-color: white;
    min-width: 190px;
    min-height: 80px;
    border-radius: 30px;
    transform: translate(-25px,0px);
    text-align: center;
}

.dropdown:hover .dropdown-child {
    display: table-footer-group;
    position: absolute;
    padding-top: 10px;
}
  
.border {
    border: 5px black solid;
  
}

h1{
    text-align: center;
}

div{

    color: brown;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer{
    text-align: center;
    color: #f5f5dc;
    font-size: 18px;
    background-color: rgb(223, 130, 130);
    width: 100%;
    height: 500px;
}

button{
 
    color: beige;
    background-color: brown;
    border: 1px;
    border-radius: 2%;
    cursor: pointer; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;  
}

button:hover{
    color: rgb(112, 25, 25);
    background-color: #f5f5dc;
}

select{
    color: beige;
    background-color: brown;
    border: 5px;
    border-radius: 10%;
    cursor: pointer; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
}
